
        <main>
            <form class="search" action="/search" method="post">
                <input type="search" name="name" placeholder="Search here...">
                <button type="submit">Search</button>
            </form>
            <section id="find-section">

                {{#if apartments}}
                    {{#each apartments}}
                    {{> apartment}}
                    {{/each}}
                {{else}}
                <div class="no-data-listing">
                    <p class="no-offer">There are no housing offers found...</p>
                </div>
                {{/if}}

            </section>
        </main>
