<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BookingUni</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<nav>
    <div>
            <div class="notification loadingBox">
                Loading …
            </div>
            <div class="notification infoBox">
                <span>Info</span>
            </div>
            <div class="notification errorBox">
                {{#if error}}
                {{#each error}}
                <span>{{this}}</span>
                {{/each}}
                {{/if}}
            </div>
        </div>
    <div class="left-container">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add-hotel">Add +</a></li>
        </ul>
    </div>
    <div class="right-container">
        {{#if user}}
        <a href="/profile" class="log-out">{{name}}</a>
        <a href="/logout" class="log-out">Logout</a>
        {{else}}
        <a href="/login" class="login">Login</a>
        <a href="/register" class="register">Register</a>
        {{/if}}
    </div>
</nav>
{{{body}}}

</html>