
        <main>
            <img id="sadFaceImg"
                src="https://img.freepik.com/premium-vector/404-error-landing-page-with-sad-smile-face_255749-89.jpg?w=2000"
                alt="sad face" />
            <h1>404</h1>
            <h2>Page not found</h2>
        </main>
