<main>
        <h1>Attach Accessory</h1>
      <h2>{{cube.name}}</h2>
      <img class="cube" src={{cube.imageUrl}}>
        <label for="accessory">Accessories to attach:</label>
          <select id="accessory" name="accessory">
            {{#each accessories}}
            <option>{{this.name}}</option>
            {{/each}}
          </select>
        <a class="btn" href="/accessory/attach">Attach</a>
    </main>