<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <nav>
            <a href="#">Home</a>
            <ul>
                <!-- Guest users and Logged users -->
                <li><a href="/">Housing for rent</a></li>
                {{#if user}}
                <li><a href="/create">Create offer</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
        {{#if error}}
        <div>
            <div class="errorContainer">
                <p>{{error}}</p>
            </div>
        </div>
        {{/if}}
        {{{body}}}
        <footer>
            © 2021

        </footer>
    </div>

</body>

</html>